@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.index-html {
    background: url(/View_Mobile/Images/index-bg-2.png) top no-repeat #019FE8;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99;
}

.hy_wrap {
    margin: 0 auto;
    color: #fff;
    /*margin: 14px 0 0 0;
    padding: 0 0 30px 0;*/
    text-align: center;
    /*background-size: 100%;
    height: auto;*/
}

.invitation {
    height: 14px;
    line-height: 12px;
    padding-top: 1px;
    font-size: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 24px;
    padding-left: 12px;
}

.logo {
    margin: 0px auto;
}

    .logo::after {
        content: "";
        width: 100%;
        min-height: 80px;
        max-height: 100px;
        display: block;
        background: url(/View_Mobile/Images/tobacco-logo4.png) 15px 15px no-repeat;
        background-size: 35%;
        margin: 0 0 0 0;
    }

.title {
    font-weight: bold;
    font-size: 140%;
    margin: 20px auto;
    margin-bottom: 35px;
    line-height: 160%;
}

.subtitle {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 15px;
    margin: 0 auto;
}

.infomation {
    font-size: 110%;
    text-align: left;
    width: 85%;
    margin: 16px auto;
}

.ewrcode {
    margin-top: 16px;
}

    .ewrcode img {
        margin: 0 auto;
        margin: 40px 0 0 0;
        text-align: center;
        width: 40%;
    }

.gobutton {
    margin: 0 auto;
    margin-top: 50px;
}

    .gobutton .fl-left {
        float: left;
        width: 46%;
    }

    .gobutton .fl-right {
        float: right;
        width: 46%;
    }

    .gobutton span {
        color: #019FE8;
        display: block;
        text-decoration: none;
        font-weight: bold;
        border-radius: 3px;
        width: 60%;
        margin: 0px 0px 50px 0px;
        padding: 9px 0;
        letter-spacing: 1px;
        font-size: 100%;
        background: #fff;
    }

.gobutton2 span {
    color: #019FE8;
    display: block;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 9px 0;
    letter-spacing: 1px;
    font-size: 100%;
    background: #fff;
}

.gobutton::after {
    content: " ";
    clear: both;
}

.default_block {
    display: none;
}

.input_block {
    margin-top: 40px;
    display: none;
}

    .input_block .phonenumber {
        background-color: #fff;
        /*opacity: 0.45;
        filter: alpha(opacity=45);*/
        font-size: 90%;
        font-size: 150%;
        font-weight: bold;
        width: 70%;
        height: 50px;
        line-height: 50px;
        font-family: Aharoni;
        border-radius: 6px;
        /*box-shadow: #111 0 0 5px 2px;*/
        text-align: center;
        color: #019FE8;
        margin: 0 auto;
    }

        .input_block .phonenumber input {
            width: 85%;
            height: 30px;
            margin-top: 0px;
            line-height: 30px;
            border: none;
            background: none;
            color: #333;
            font-size: 90%;
        }

/*.input_block .phonenumber input::-webkit-input-placeholder {
                color: #019FE8;
            }

            .input_block .phonenumber input::-moz-placeholder { 
                color: #019FE8;
            }

            .input_block .phonenumber input:-moz-placeholder { 
                color: #019FE8;
            }

            .input_block .phonenumber input:-ms-input-placeholder { 
                color: #019FE8;
            }*/

.wrapper {
    color: #fff;
    height: 100%;
    margin: 0 auto;
}

    .wrapper .title {
        font-size: 130%;
        text-align: center;
        margin: 0 auto;
        padding: 25px 0 20px 0;
        font-weight: bold;
        width: 100%;
    }

    .wrapper .banner {
        font-size: 110%;
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;
        background: #019FE8;
        color:#fff;
    }

    .wrapper .content-bg {
        margin: 0px auto;
        width: 90%;
        line-height: 180%;
    }

        .wrapper .content-bg img {
            vertical-align: middle;
            margin-bottom: 5px;
        }

    .wrapper .font-white {
        color: #fff;
    }

    .wrapper .bg-white {
        background: #fff;
        padding: 15px;
        color:#000;
    }

    .wrapper .bg-holder {
        padding: 15px 10px;
    }

    .wrapper .title span {
        padding: 0 100px;
        position: relative;
    }

        .wrapper .title span strong {
            z-index: 99;
            position: relative;
        }

        .wrapper .title span:before {
            border-bottom: solid 1px #fff;
            height: 0px;
            position: absolute;
            left: 0;
            top: 14px;
            content: "";
            margin: 0 auto;
            width: 32%;
            z-index: 0;
        }

        .wrapper .title span:after {
            border-bottom: solid 1px #fff;
            height: 0px;
            position: absolute;
            right: 0;
            top: 14px;
            content: "";
            margin: 0 auto;
            width: 32%;
            z-index: 0;
        }

.wrapper .hy_menu_list {
    text-align: center;
    clear: both;
    color: #fff;
}

    .wrapper .hy_menu_list:after {
        clear: both;
        content: " ";
    }

    .wrapper .hy_menu_list a {
        float: left;
        width: 33%;
        text-decoration: none;
        display: block;
        margin: 20px 0;
        text-align: center;
    }

    .wrapper .hy_menu_list i {
        border: solid 1px #111;
        border-radius: 14px;
        line-height: 14px;
        padding: 0 5px;
        font-size: 80%;
        font-style: normal;
        margin-right: 16px;
    }

    .wrapper .hy_menu_list img {
        border-radius: 50px;
        width: 40%;
    }

    .wrapper .hy_menu_list span {
        display: block;
        color: #000;
    }

.bg-white .title {
    margin-top: 0px;
    padding-top: 10px;
}

    .bg-white .title span strong {
        background-color: #fff;
        color: #000;
    }

    .bg-white .title span:before, .bg-white .title span:after {
        border-bottom: solid 1px #000;
    }
.zcb-content {
    color: #000;
    padding: 0;
    background: #fff;
    margin: 7px;
    width: 95%;
    padding: 0 15px;
}

.content-bg .zcb-title {
    color: #000;
    padding: 10px;
    text-align: center;
    background: #eee;
}

.arrow-up, .back-away, .arrow-down {
    background-color: #000;
    opacity: 0.35;
    filter: alpha(opacity=35);
    font-size: 90%;
    font-size: 150%;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: Aharoni;
    border-radius: 25px;
    box-shadow: #111 0 0 5px 2px;
    text-align: center;
    /*color: #00C7FF;*/
    color: #fff;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    margin: 0 auto;
}

.back-away {
    font-weight: normal;
    width: auto;
    font-size: 100%;
    transform: rotate(0);
    -ms-transform: rotate(0); /* IE 9 */
    -moz-transform: rotate(0); /* Firefox */
    -webkit-transform: rotate(0); /* Safari 和 Chrome */
    -o-transform: rotate(0);
}

.up-and-down {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 25px;
    border: none;
}

    .up-and-down li {
        float: left;
        width: 32%;
        height: 50px;
    }

.zldownload {
    width: 90%;
    margin: 0 auto;
}

.hy_filelist {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .hy_filelist li {
        line-height: 40px;
        height: 40px;
        font-size: 120%;
    }

        .hy_filelist li span {
            text-decoration: underline;
            white-space: nowrap;
            display: block;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hy_filelist li a {
            text-decoration: none;
        }

        .hy_filelist li .down-icon::after {
            content: "\e025";
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: normal;
            float: right;
            display: block;
            margin-top: -40px;
            font-size: 90%;
            color: #fff;
        }

.inlist {
    margin-bottom: 15px;
}

.list_parent_node {
    /*border: solid 1px #efefef;*/
    padding: 15px 20px;
    margin: 0 0 7px 0;
    background: #fff;
}

.parent_title {
    font-size: 120%;
    background: url(/View_Mobile/Images/arrow-w.png) no-repeat left center;
    background-size: 33px;
    padding-left: 33px;
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_cyuser {
    color: #007655;
    background: url(/View_Mobile/Images/arrow-g.png) no-repeat left center;
    background-size: 25px;
}

.list_parent_node .list_child_block {
    margin: 5px;
    display: none;
}

    .list_parent_node .list_child_block .list_child_node {
        margin: 0 0 5px 0;
        color: #000;
    }

.list_parent_node .list_child_node .child_ext {
    margin: 0 0 5px 0;
    color: #000;
    float: right;
    display: block;
}

.item-con {
    padding: 10px;
}

    .item-con::after {
        content: "";
        clear: both;
        display: block;
    }

.item-con-list li:nth-child(2n+1) {
    float: left;
    margin: 4px 0;
    height: 40px;
    display: block;
    line-height: 40px;
    width: 40%;
}

.item-con-list li:nth-child(2n) {
    float: right;
    margin: 4px 0;
    height: 40px;
    display: block;
    width: 60%;
}

.item-con-list input, .item-con-list select {
    border-radius: 3px;
    border: none;
    padding: 0 4px;
    margin: 4px 0 0 0;
    font-size: 16px;
    height: 32px;
    width: 100%;
}

.room-width-index li {
    padding: 3px 0px;
    margin: 0;
}

.room-length-index {
    height: 25px;
}

    .room-length-index li {
        /*border: solid 1px #ccc;*/
        display: inline-block;
        padding: 0px 0px;
        margin-right: 4px;
        line-height: 15px;
        width: 20px;
        height: 22px;
        font-size: 10px;
        text-align: center;
        background: url(/View_Mobile/Images/zuoyi.png) no-repeat center center;
        background-size: 100%;
    }

    .room-length-index .selected {
        background: url(/View_Mobile/Images/zuoyi-selected.png) no-repeat center center;
        background-size: 100%;
    }

.room-width-index .first {
    background: none;
    border: none;
    width: 12px;
    position: absolute;
    left: 12px;
    text-align: center;
    font-size: 90%;
    line-height: 20px;
    vertical-align: top;
}

.last-row li {
    border: none;
    width: 20px;
    height: 20px;
    font-size: 90%;
    line-height: 20px;
    vertical-align: top;
    margin-right: 4px;
    /*border: solid 1px #fff;*/
    background: none;
}

.room-block-hold {
    width: 100%;
    overflow-x: scroll;
}

.chairmen-wrapper {
}

.room-chairmen {
    color: #fff;
    width: auto;
    margin: 10px auto;
    padding: 3px 10px 3px 10px;
    line-height: 20px;
    background: #019FE8;
    font-size: 120%;
    text-align: center;
}

    .room-chairmen ul li {
        display: inline;
        margin-right: 15px;
    }

.room-block {
}

.seat_info {
    display: block;
    height: 15px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

    ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
